<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{static_url('bootstrap.min.css')}}"  crossorigin="anonymous">
        <!-- Custom styles for this template -->
    <link href="{{ static_url('signin.css') }}" rel="stylesheet">
      <link rel="canonical" href="https://v4.bootcss.com/docs/examples/sign-in/">
        <!-- Custom styles for this template -->
    <link href="{{ static_url('starter-template.css') }}" rel="stylesheet">
    <link rel="canonical" href="https://v4.bootcss.com/docs/examples/jumbotron/">

    <title>talk-robot</title>
  </head>
  <body>
    {% block body %}
    {% end %}
    <div class="footer">
      <span class="text-muted">talk-robot &copy; 2020</span>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ static_url('jquery-3.4.1.min.js') }}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{{static_url('bootstrap.min.js')}}" crossorigin="anonymous"></script>
  </body>
</html>