{% extends "layout.html" %}
{% block body %}
<div class="text-center container">
    <form class="form-signin" action="/login" method="post">
  <img class="mb-4" src="{{ static_url('wukong.png') }}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="name" class="sr-only">Name</label>
  <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>
    </div>
{% end %}